@page "/"
@using WeddingImageGallery.Shared
@inject HttpClient Http

<div id="images">
@foreach (var image in images)
{
  <div class="item">
      <a href="@image.FullUrl">
           <img class="img-fluid" src="@(image.FullUrl).?width=200" alt="Image">
      </a>
  </div>
}
</div>

@code {
    private ImageProperties[] images = new ImageProperties[0];

    protected override async Task OnInitializedAsync()
    {
        images = await Http.GetFromJsonAsync<ImageProperties[]>("api/images");
    }

}