@page "/"
@using WeddingImageGallery.Shared
@inject HttpClient Http

<div id="images">
@foreach (var image in images)
{
    var idx = Array.IndexOf(images, image);
  <div class="item">
      <a href="@image.FullUrl" data-lightbox="@("image" + idx)">
           <img src="@(image.FullUrl)?width=200" alt="Image">
      </a>
  </div>
}
</div>

@code {
    private ImageProperties[] images = new ImageProperties[0];

    protected override async Task OnInitializedAsync()
    {
        images = await Http.GetFromJsonAsync<ImageProperties[]>("api/images");
    }

}