@inherits LayoutComponentBase

@*
<div class="sidebar">
    <NavMenu />
</div>
*@

<div class="main">
    <div class="top-row px-4">
        "The Juan for Snellman" wedding photos
    </div>

    <div class="content px-4">
        <NavMenu />
        @Body
    </div>
</div>
