@inherits LayoutComponentBase
@inject NavigationManager NavManager
@inject PasswordCheckContext PasswordCheckResult

<div class="main">
    <LanguageSelector />

    <div class="content px-4">
        @if (PasswordCheckResult.PasswordIsValid)
		{
            <NavMenu />
            @Body
		} else
		{
            <WeddingImageGallery.Client.Pages.LoginForm />
		}
    </div>
</div>

@code {
	protected override void OnInitialized()
	{
        PasswordCheckResult.PasswordValidChanged = () => StateHasChanged();
	}
} 