@inherits LayoutComponentBase
@inject NavigationManager NavManager

@*
<div class="sidebar">
    <NavMenu />
</div>
*@

<div class="main">
    <div class="top-row px-4">
        "The Juan for Snellman" wedding photos
    </div>

    <div class="content px-4">
        @if (PasswordCheckResult.PasswordIsValid)
		{
            <NavMenu />
            @Body
		} else
		{
            <WeddingImageGallery.Client.Pages.LoginForm />
		}
    </div>
</div>

@code {
    [CascadingParameter]
    PasswordCheckContext PasswordCheckResult { get; set; }

	protected override void OnInitialized()
	{
        PasswordCheckResult.PasswordValidChanged = () => StateHasChanged();
	}

} 