@using WeddingImageGallery.Shared
@inject NavigationManager NavManager
@inject HttpClient Http

<ul class="nav nav-tabs">
	@foreach (var gallery in galleries)
	{
		<li class="nav-item">
			<NavLink class="nav-link" href="@gallery.Path">
				@gallery.Name
			</NavLink>
		</li>
	}
</ul>

@code {

	private Gallery[] galleries = new Gallery[0];
	private Gallery currentGallery = null;

	private void SetCurrentGallery(Gallery gallery)
	{
		currentGallery = gallery;
	}

	protected override async Task OnInitializedAsync()
	{
		galleries = await Http.GetFromJsonAsync<Gallery[]>("api/galleries");
		if (galleries.Any())
		{
			NavManager.NavigateTo(galleries.First().Path);
		}
	}

}